body {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.wrapper {
  background-color: #2E2300;
  width: 100%;
  height: 100%;
  padding: 30px 20px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  font-size: 70px;
  color: #DB9501;
}

.score {
  color: #DB9501;
  font-size: 50px;
}

.questions {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(189,120,17);
  border-radius: 7px;
  border: 1px solid #3a3627;
  font-size: 30px;
  padding: 0 10px;
  font-weight: 600;
  color: #2E2300;
  width: 100%;
  padding: 15px 0;
}

.question-active {
  background: linear-gradient(325deg, rgba(34,193,195,0) 0%, rgba(253,187,45,1) 100%);
  transition: all .3s linear;
}

.current-question {
  display: flex;
  align-items: center;
  margin-top: 10px;
  background: linear-gradient(162deg, rgba(189,120,17,1) 0%, rgba(169,152,121,0) 100%);
  border-radius: 7px;
}

.current-question-img {
  margin: 10px;
  border-radius: 7px;
  width: 300px;
}

.current-question-content {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 20px;
}

.current-question-title {
  margin-top: 10px;
  font-size: 50px;
  color: #2E2300;
}

.current-question-line {
  margin-top: 10px;
  width: 100%;
  background-color: #000;
  height: 2px;
}

.current-question-audio {
  margin-top: 15px;
  width: 100%;
  height: 5vh;
}

.container {
  display: flex;
  margin: 10px 0;
}

.answers {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-radius: 7px;
}

.answer {
  position: relative;
  color: #000;
  font-size: 35px;
  background: rgb(189,120,17);
  cursor: pointer;
  border-radius: 5px;
  padding: 17px 0;
  border: 1px solid #3a3627;
}


.answer:hover {
  background: linear-gradient(325deg, rgba(34,193,195,0) 0%, rgba(253,187,45,1) 100%);
  transition: all .3s linear;
}

.answer.answer-correct .answer-marker {
  background-color: #129113;
}

.answer.answer-wrong .answer-marker {
  background-color: #ff0a0a;
}

.answer-marker {
  position: absolute;
  left: 30px;
  background: #fff;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  border: 2px solid #715706;
}

.description-default {
  display: block;
  background: linear-gradient(162deg, rgba(189,120,17,1) 0%, rgba(169,152,121,0) 100%);
  width: 60%;
  margin-left: 10px;
  border-radius: 7px;
  padding-top: 30px;
  padding-left: 30px;
  color: #f0e073;
}

.description-card {
  display: none;
  background: linear-gradient(162deg, rgba(189,120,17,1) 0%, rgba(169,152,121,0) 100%);
  width: 60%;
  margin-left: 10px;
  border-radius: 7px;
  padding-top: 10px;
  padding-left: 10px;
  color: #f0e073;
}

.description-content {
  display: flex;
}


.description-img {
  width: 250px;
  border-radius: 8px;
}

.description-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-left: 50px;
}

.description-title {
  font-size: 35px;
  font-weight: 600;
}

.description-english-title {
  font-size: 25px;
  font-weight: 600;
}

.description-audio {
  margin-top: 30px;
  width: 90%;
}

.description-text {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 15px;

}

.next-level {
  text-align: center;
  border-radius: 7px;
  background: linear-gradient(149deg, rgba(87,97,97,1) 0%, rgba(253,187,45,0) 100%);
  color: #2E2300;
  font-size: 40px;
  font-weight: 600;
  padding: 30px;
  width: 100%;
  cursor: no-drop
}

.next-level-active {
  background: linear-gradient(325deg, rgba(34,193,195,0) 0%, rgba(253,187,45,1) 100%);
  cursor: pointer;
}

@media (max-width: 1700px) {

  .question {
    font-size: 27px;
  }

  .answer {
    font-size: 30px;
  }

  .description-default-text {
    font-size: 30px;
  }

}

@media (max-width: 1500px) {

  .header-logo {
    font-size: 50px;
  }

  .score {
    font-size: 40px;
  }

  .question {
    font-size: 23px;
  }

  .current-question-img {
    margin: 5px;
    width: 250px;
  }

  .current-question-title {
    font-size: 35px;
  }

  .description-default {
    padding-top: 20px;
    padding-left: 18px;
  }

  .description-wrapper {
    margin-left: 18px;
  }

  .description-title {
    font-size: 30px;
  }

  .description-english-title {
    font-size: 23px;
  }

  .description-audio {
    margin-top: 30px;
    height: 5vh;
    margin-right: 30px;
  }

  .description-text {
    font-size: 27px;
    margin-top: 37px;
  }

  .next-level {
    font-size: 30px;
    padding: 15px;
  }

}

@media (max-width: 1320px) {


  .header-logo {
    font-size: 45px;
  }

  .score {
    font-size: 35px;
  }

  .current-question-img {
    width: 220px;
  }

  .question {
    font-size: 20px;
    padding: 7px 0;
  }

  .answer {
    font-size: 26px;
  }

  .description-text {
    font-size: 22px;
    margin-top: 15px;
  }

}

@media (max-width: 1110px) {

  .question {
    font-size: 14px;
    padding: 5px 0;
  }

  .current-question-img {
    width: 200px;
  }

  .current-question-title {
    font-size: 35px;
  }

  .current-question-line {
    height: 1px;
  }

  .answers {
    padding-top: 0px;
  }

  .answer {
    font-size: 25px;
  }

  .description-default {
    padding-top: 0px;
  }

  .description-default-text {
    font-size: 25px;
  }

  .description-wrapper {
    margin-left: 30px;
  }

  .description-title {
    font-size: 30px;
  }

  .description-english-title {
    font-size: 20px;
  }

  .description-audio {
    margin-top: 49px;
  }

  .description-text {
    font-size: 23px;
    margin-top: 21px;
  }

}

@media (max-width:1000px) {

  .header-logo {
    font-size: 35px;
  }

  .score {
    font-size: 30px;
  }

  .current-question-img {
    width: 150px;
    height: 100%;
  }

  .current-question-title {
    font-size: 30px;
  }

  .answer {
    font-size: 17px;
    padding: 10px 0;
  }

  .description-wrapper {
    margin-left: 16px;
  }

  .description-img {
    width: 150px;
    height: 100%;
  }

  .description-title {
    font-size: 20px;
  }

  .description-english-title {
    font-size: 15px;
  }

  .description-text {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .next-level {
    font-size: 23px;
    padding: 9px;
  }

}


@media (max-width: 900px) {

  .score {
    font-size: 25px;
  }

  .current-question-title {
    font-size: 23px;
  }

  .description-text {
    font-size: 15px;
  }

  .description-img {
    width: 210px;
  }

}


@media (max-width: 800px) {

  .header-logo {
    font-size: 30px;
  }

  .score {
    font-size: 25px;
  }

  .current-question-title {
    font-size: 25px;
  }

  .answer {
    font-size: 15px;
    padding: 8px 0;
  }

  .answer-text {
    font-size: 20px;
  }

  .description-default {
    padding-top: 2px;
    padding-left: 19px;
  }

  .description-card {
    padding-top: 11px;
    padding-left: 12px;
  }

  .description-wrapper {
    margin-left: 7px;
  }

  .description-title {
    font-size: 21px;
  }

  .description-text {
    font-size: 17px;
  }

  .description-english-title {
    font-size: 13px;
  }

  .description-default-text {
    font-size: 26px;
  }

  .next-level {
    font-size: 25px;
  }

}


@media (max-width: 700px) {

  .wrapper {
    padding: 50px 30px;
  }

  .question {
    width: 49%;
    display: flex;
    justify-content: center;
  }

  .questions {
    flex-wrap: wrap;
  }


  .current-question-title {
    font-size: 22px;
  }


  .answer-marker {
    left: 15px;
  }


  .description-audio {
    margin-top: 42px;
  }

  .description-default-text {
    font-size: 20px;
  }

  .next-level {
    font-size: 20px;
  }

}

@media (max-width: 650px) {

  .wrapper {
    padding: 50px 25px;
  }

  .current-question-title {
    font-size: 25px;
  }

  .answer-marker {
    left: 7px;
  }

  .description-title {
    font-size: 17px;
  }

  .description-img {
    width: 163px;
    height: 100px;
  }

  .description-audio {
    margin-top: 11px;
  }

  .description-text {
    font-size: 15px;
  }

}

@media (max-width: 500px) {

  .wrapper {
    padding: 20px 30px;
  }

  .container {
    flex-direction: column;
  }

  .current-question-content {
    margin: 0 15px;
  }

  .current-question-title {
    font-size: 20px;
  }

  .current-question-line {
    margin-top: 15px;
  }

  .answers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .answer {
    font-size: 14px;
    width: 50%;
  }

  .answer-marker {
    left: 3px;
  }

  .description-default {
    margin: 0;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
  }

  .description-card {
    margin: 0;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;

  }

  .description-default-text {
    margin-bottom: 30px;
  }

  .description-audio {
    margin-right: 5px;
    margin-top: 17px;
  }

}

@media (max-width: 500px) {

  .wrapper {
    padding: 20px 10px;
  }

  .score {
    font-size: 23px;
  }

  .container {
    align-items: center;
  }

}

@media (max-width: 360px) {

  .description-audio {
    width: 40vw;
  }

}